*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* background-color: #f5f5f5; */
}
/* start of nav bar */
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		right:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	
/* ============ small devices .end// ============ */
.nav-bkg{
    background-color: black;
    font-size: 16px;
}

.logo{
    font-size: 36px;
   
   
    font-weight: 600;
    letter-spacing: 1px;

}
.nav-line a{
    padding-left:20px ;
}
.nav-line a::after{
    content:"";
    width:0%;
    height: 2px;
    display: block;
    background-color: #fff;
    margin-bottom: 10px;

}
.nav-line a:hover::after{
    width: 80%;
    transition: all .5s;
}
/* .dropdown-line::after{
    content:"";
    width:0%;
    height: 2px;
    display: block;
    background-color: #fff;
    margin-bottom: 10px;
}
.dropdown-line:hover::after{
    width: 80%;
    transition: all .5s;
} */
/* end of nav bar  */

/* start of home */
.bkg-blend{
    /* width: 100%;
    height: 100vh;
    background-repeat: no-repeat, repeat; */
    background-blend-mode: lighten;
}

.anmtn-text{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
}
.wrapper .static-txt{
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}
.wrapper .dynamic-txt{
    text-align: center;
    margin-left: 15px;
    height: 10vh;
    line-height: 90px;
    /* background: red; */
    overflow: hidden;
}
.dynamic-txt li{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.dynamic-txt li span{
    position: relative;
}
.dynamic-txt li span::after{
    content: "";
    position: absolute;
    left:3px;
    height: 100%;
    width:100%;
    /* background: black; */
    border-left:1px solid white;
    animation:typing 1.5s steps(12) infinite;

}
@keyframes typing{
    
        from {left:100px;}
        to {right:200px;}
    
}
/* end of home */

/* start of about */
/* .about{
    display: flex;
    justify-content: center;
    background-color: aqua;
} */
.skill-para{
    font-size: 1.25rem;
    font-weight: 300;
    color: #4e4e4e;
}
.about-info{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.title{
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.about-left{
    font-size: 2rem;
}
/* end of about */
/* start of service */
.circle {
    height: 100px;
    width: 100px;
    /* background-color: #0078ff; */
    background-color: white;
    border: 10px solid #0078ff;
    border-radius: 50%;
    display: inline-block;
  }
  .circle:hover{
    background-color:#0078ff;
    border: 10px solid #b2d0f1;
  }
  .service-item{
      display: flex;
      justify-content: center;
      align-items: center;
  }
/* end of service */

