*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* background-color: #f5f5f5; */
}
html{
    scroll-behavior: smooth;
}
/* start of nav bar */
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		right:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	
/* ============ small devices .end// ============ */
.nav-bkg{
    background-color: black;
    font-size: 16px;
}

.logo{
    font-size: 36px;
   
   
    font-weight: 600;
    letter-spacing: 1px;

}
.nav-line a{
    padding-left:20px ;
}
.nav-line a::after{
    content:"";
    width:0%;
    height: 2px;
    display: block;
    background-color: #fff;
    margin-bottom: 10px;

}
.nav-line a:hover::after{
    width: 80%;
    transition: all .5s;
}
/* .dropdown-line::after{
    content:"";
    width:0%;
    height: 2px;
    display: block;
    background-color: #fff;
    margin-bottom: 10px;
}
.dropdown-line:hover::after{
    width: 80%;
    transition: all .5s;
} */
/* end of nav bar  */

/* start of home */

.bkg-blend img{
    mix-blend-mode: rgb(46, 46, 46);
    opacity: 60%;
} 


.anmtn-text{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
}
.wrapper .static-txt{
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}
.wrapper .dynamic-txt{
    text-align: center;
    margin-left: 15px;
    height: 10vh;
    line-height: 90px;
    /* background: red; */
    overflow: hidden;
}
.dynamic-txt li{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.dynamic-txt li span{
    position: relative;
}
.dynamic-txt li span::after{
    content: "";
    position: absolute;
    left:3px;
    height: 100%;
    width:100%;
    /* background: black; */
    border-left:1px solid white;
    animation:typing 1.5s steps(12) infinite;

}
@keyframes typing{
    
        from {left:100px;}
        to {right:200px;}
    
}
/* end of home */

/* start of about */
/* .about{
    display: flex;
    justify-content: center;
    background-color: aqua;
} */
.skill-para{
    font-size: 1.25rem;
    font-weight: 300;
    color: #4e4e4e;
}
.about-info{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.title{
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.about-left{
    font-size: 2rem;
}
/* end of about */
/* start of service */
.circle {
    height: 100px;
    width: 100px;
    /* background-color: #0078ff; */
    background-color: white;
    border: 10px solid #0078ff;
    border-radius: 50%;
    display: inline-block;
  }
  .circle:hover {
    background-color:#0078ff;
    border: 10px solid #cde1f8;
    
  }
  .circle:hover svg *{
    fill:white;
}
  .service-item{
      /* display: flex;
      justify-content: center;
      align-items: center; */
      text-align: center;
  }
 
  /* start service counter */
  .serv-count {
    background-image: url("../../img/counters-bg.jpg");
    background-color: #cccccc;
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
  }
  .overlay-color{
    background-color: #0078ff;
    opacity: .8;
  }
  .serv-cicle{
   
    width: 80px;
    height: 80px;
    background-color: transparent;
    /* background-color: violet; */
    border: 10px solid #cde1f8;
    border-radius: 50%;
    
  }
  .count-icon >path{

    fill:white;
}
.num-count{
    font-size: 2rem;
    color:white;
}
.des-count{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:white;
}
  /* end service counter */

/* end of service */

 /* start of users  */
 .user-bg{
    background-image: url("../../img/overlay-bg.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #13268f;
}
/* .overlay-usrclr{
  opacity: 30%;
} */
 
  /* start of users  */
  .slider-area{
      height: 100vh;
      width: 100%;
      background-image: url("../../img/overlay-bg.jpg");
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: overlay;
  }
  .control{
      background: transparent;
  }
  .imge-area{
      display: flex;
      align-self: center;
      width:150px;
      height: 150px;
      margin:auto;
      /* border:2px solid #fff; */
      border-radius: 50%;
      overflow: hidden;
  }
  .imge-area img{
      width: 100%;

  }
  .caption{
      position: static;
      padding-bottom: 20px;
      padding-top: 0;
      text-align: center;
  }
  .caption h4{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;
    display: block;
    font-size: 1.4rem;
  }
  .caption p{
    font-size: 1.25rem;
    font-weight: 300;
    color:#fff;
  }
  .control{
    width:12px !important;
    height: 12px !important;
    
    border:2px solid #fff;
    border-radius: 50% !important;
    overflow: hidden;
  }
  /* end of users */

  /* start of contact */
  .footer-cicle {
    height: 50px;
    width: 50px;
    /* background-color: #0078ff; */
    background-color: white;
    border: 5px solid #0078ff;
    border-radius: 50%;
    display: inline-block;
   
    text-align: center;
        line-height: 40px;
  }
      

  .footer-cicle:hover {
    background-color:#0078ff;
    border: 5px solid #cde1f8;
    
  }
  .footer-cicle:hover svg *{
    fill:white;
}

.foot-btn{
    border: 5px solid #cde1f8 !important;
    border-radius:5rem !important;
    margin-left: 170px;
    
}

.mess-frm{
    display: block;
    width: 100%;
   height: 20vh;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    padding: 5px;
}
/* end of contact */
    /* start of footer */
    footer{
    background-color:  #091d92 !important;
    text-align: center;
    color:white;
    padding: 25px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    }
    /* end of footer */
   
   .gotopbut{
        position: fixed;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #007aff;
        bottom:20px;
        right:30px;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        color:white;
        overflow: hidden;
        transition: all .25s ease-in-out;
        cursor: pointer;
        overflow: hidden;

   }
   .gotopbut:hover{
       background-color: #1586ff;
   }

   /* .show {
    visibility: visible;
    opacity: 1;
  }
   
  .hide {
    visibility: hidden;
    opacity: 0;
  }

   */
   

